# =========================
# Backend Python
# =========================

venv/
.venv/
__pycache__/
*.pyc
*.db

# Entornos
.env
.env.*


# =========================
# VS Code
# =========================
.vscode/
