fastapi[standard]==0.134.0
uvicorn[standard]==0.41.0
SQLAlchemy==2.0.47
alembic==1.18.4
python-dotenv==1.2.1
python-multipart==0.0.6
pypandoc == 1.11
pdfminer.six == 20221105
beautifulsoup4==4.12.2
lxml==4.9.3
elasticsearch== 8.14.0
docker==7.1.0
llama-cpp-python==0.1.83
openai==2.24.0
