@import "../../common/styles/variables.css";

main {
  padding: 1em;
  flex: 1;
}

#body-div-1 {
  align-items: center;
  display: flex;
  gap: 1em;
  width: 100%;
}

.search-input {
  border: 1px solid var(--purple-color);
  flex: 1;
  font-family: var(--font-family);
  font-size: var(--font-size);
  padding: 6px;
  width: auto;
}

.upload-file-button {
  background-color: #a261be;
  border: none;
  border-radius: var(--border-radius);
  color: whitesmoke;
  font-size: var(--font-size);
  padding: 6px 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    font-weight 0.2s ease,
    transform 0.1s ease;
}
.upload-file-button:hover {
  background-color: #8e4fad;
  box-shadow: 0 4px 12px rgba(162, 97, 190, 0.4);
  transform: scale(1.05);
}
.upload-file-button:active {
  background-color: #7a4296;
  box-shadow: none;
  transform: scale(0.95);
}
